<!DOCTYPE HTML>
<html>
	<head>
		<title>Github Hook</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>
			<section id="header">
				<div class="inner">
					<span class="icon major fa-cloud"></span>
					<h1>Hi, I'm <strong>Song Zhou</strong>. I created this small project.</h1><br>

					<h4>I got boared one night and coded a Node.js program for auto-deployment using webhook provided by Github.</h4>
					<h4>If this project helps you a little, I would be really pleased if you <b>Star</b> this project and <b>Follow</b> me.</h4><h4>It's really light and super easy to use. Hope you guys enjoy it. : ) </h4>
				</div>
			</section>
			<section id="one" class="main style1">
				<div class="container">
					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<header class="major">
								<h2>How to run this project?</h2>
							</header>
							<p>Clone the repo <a href="//github.com/RoyTimes/github_hook">@Github</a>&nbsp;and install the NPM dependencies by <b>npm install</b>, then fill in the <b>repos.json</b> file, then just <b>nohup</b> the program up and it's all done! The font page would be a beautiful static web file &amp; when there is a POST request<span style="color:red">/deploy</span> would triger the commands written in <b>repos.json</b> to run. </p>
						</div>
						<div class="6u 12u$(medium)">
							<header class="major">
								<h2>&nbsp;</h2>
							</header>
							<p>For more infomation feel free to contact me by email or by Github! If you're from China, feel free to add me on QQ&nbsp;/&nbsp;WeChat @ <b>2590511036</b> :joy:</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="//github.com/RoyTimes/" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:zs@ziorix.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 2015 Song Zhou</li>
					<li><a href="//ziorix.com">@ZS</a></li>
				</ul>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
